body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: darkgray;
}

a {
  text-decoration: none;
  color: darkgray;
  font-size: 16px;
  transition: all 0.2s ease;
}

a.active {
  color: black;
}

a.disabled {
  color: lightgray;
}

a:hover {
  color: black;
  opacity: 0.9;
  transition: all 0.2s ease;
}

a.phone-style:hover {
  color: black;
  opacity: 0.9;
  transition: all 0.2s ease;
}

.container {
  max-width: 1000px;
  min-height: calc(100vh - 50px);
  background-color: aliceblue;
  margin: 50px auto 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: between;
}

@media (max-width: 767px) {
  .container {
    margin: 50px 15px 0 15px;
  }
}

header {
  background-color: red;
  margin-bottom: 15px;
  height: 50px;
  position: sticky;
  top: 0;
}

nav {
  background-color: blue;
  width: 200px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  nav {
    display: none;
  }
}

.nav-header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

@media (max-width: 767px) {
  .nav-header {
    display: none;
  }
}

.mobiles-nav {
  display: none;
}

@media (max-width: 767px) {
  .mobiles-nav {
    display: block;
    background-color: lightsteelblue;
    width: 100%;
    margin: 0 0 5px 0;
    flex-basis: 150px;
  }
}

main {
  display: flex;
  padding: 0 10px;
  flex-grow: 1;
}

@media (max-width: 767px) {
  main {
    flex-direction: column;
    padding: 0;
  }
}

section {
  background-color: yellow;
  flex-grow: 1;
}

aside {
  flex-basis: 200px;
  align-self: start;
  margin-left: 8px;
  background-color: green;
  position: sticky;
  top: 50px;
}

@media (max-width: 767px) {
  aside {
    width: 100%;
    margin: 5px 0 0 0;
  }
}

footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  flex-basis: 150px;
  margin-top: 15px;
}

@media (max-width: 767px) {
  footer {
    justify-content: start;
  }
}

footer a.email-style {
  align-self: center;
}

@media (max-width: 767px) {
  footer a.email-style {
    align-self: flex-start;
  }
}

footer a {
  padding: 10px;
}

footer a.phone-style {
  color: #137fb1c7;
  transition: all 0.2s ease;
  align-self: flex-end;
}

@media (max-width: 767px) {
  footer a.phone-style {
    align-self: flex-start;
  }
}
