body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: darkgray;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #007BFF;
  font-size: 16px;
  transition: all 0.2s ease;
  padding: 10px 12px 0 12px;
}

a.active {
  color: #495057;
}

a.disabled {
  color: lightgray;
  pointer-events: none;
}

a:hover {
  color: #004A99;
  transition: all 0.2s ease;
}

a.phone-style:hover {
  color: black;
  opacity: 0.9;
  transition: all 0.2s ease;
}

li.nav-item {
  display: flex;
  align-items: center;
  align-content: center;
}

.nav-link {
  border-radius: .25rem;
  display: block;
  height: 40px;
  box-sizing: border-box;
  margin: 0 12px 0 12px;
}

a.nav-link.active {
  background-color: #007BFF;
  color: white;
}

.container {
  max-width: 1000px;
  min-height: calc(100vh - 50px);
  background-color: white;
  border: 1px solid lightgreen;
  margin: 50px auto 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: between;
}

@media (max-width: 767px) {
  .container {
    margin: 50px 15px 0 15px;
  }
}

header {
  background-color: white;
  border: 1px solid lightgreen;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 0;
  height: 50px;
  position: sticky;
  top: 0;
}

nav {
  background-color: white;
  border: 1px solid lightgreen;
  width: 200px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  nav {
    display: none;
  }
}

.nav-header {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 100%;
}

@media (max-width: 767px) {
  .nav-header {
    display: none;
  }
}

.mobiles-nav {
  display: none;
}

@media (max-width: 767px) {
  .mobiles-nav {
    display: block;
    background-color: white;
    border: 1px solid lightgreen;
    width: 100%;
    margin: 0 0 5px 0;
    flex-basis: 150px;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
}

main {
  display: flex;
  padding: 0 10px;
  flex-grow: 1;
}

@media (max-width: 767px) {
  main {
    flex-direction: column;
    padding: 0;
  }
}

section {
  background-color: white;
  border: 1px solid lightgreen;
  flex-grow: 1;
}

aside {
  flex-basis: 200px;
  align-self: start;
  margin-left: 8px;
  background-color: white;
  border: 1px solid lightgreen;
  position: sticky;
  top: 50px;
}

@media (max-width: 767px) {
  aside {
    width: 100%;
    margin: 5px 0 0 0;
  }
}

footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid lightgreen;
  flex-basis: 150px;
  margin-top: 15px;
}

@media (max-width: 767px) {
  footer {
    flex-direction: column;
    justify-content: start;
  }
}

footer a.email-style {
  align-self: center;
}

@media (max-width: 767px) {
  footer a.email-style {
    align-self: flex-start;
  }
}

footer a {
  padding: 10px;
}

footer a.phone-style {
  color: #137fb1c7;
  transition: all 0.2s ease;
}

@media (max-width: 767px) {
  footer a.phone-style {
    align-self: flex-start;
  }
}

@media (max-width: 767px) {
  .counter {
    align-self: flex-start;
    padding: 10px 10px 10px 0;
  }
}
